<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>物品</title>
</head>
<body>
    <div class="main">
        <div class="item">
            <div class="preview">
                <img src="http://placehold.it/200x200">
            </div>
            <div class="info">
                <div><span>软件工程</span></div>
                <div><span>上传时间：2017-04-05</span></div>
                <div><span>上传者：<a href="#">胡总</a></span></div>
                <div><span>下载量：666</span></div>
                <div><span>积分：0</span></div>
                <div><a href="#">下载</a></div>
            </div>
        </div>
        <div class="comments">
            <div class="comment">
                <div class="avatar"><img src="http://placehold.it/50x50"></div>
                <div><a href="#">胡总</a></div>
                <div>评论时间：2017-04-05</div>
                <div class="content">妙，妙啊。</div>
            </div>
        </div>
    </div>
</body>

<style>
.main {
    margin: auto;
    margin-top: 50px;
    width: 800px;
}

.item {
    overflow: auto;
}

.preview {
    float:left;
    margin-right: 50px;
}

.comments {
    margin-top: 50px;
    clear: both;
}

.avatar {
    float: left;
    margin-right: 10px;
}

.content {
    clear: both;
}
</style>

</html>
