<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>主界面</title>
</head>
<body>
    <div class="header">
        <div><a href="#">上传资料</a></div>
        <div><a href="#">学科地图</a></div>
        <div class="welcome"><a href="#">{{user.username}}</a>欢迎你</div>
        <div class="welcome"><a href="{{url_for('logout')}}">LogOut</a></div>
    </div>
    <div class="search">
        <input type="text" placeholder="软件工程">
        <button type="submit">以课程搜索</button>
        <button type="submit">以关键词搜索</button>
    </div>
    <div>
        <div class="hot">热门资料</div>
        <div class="subject">
            <div class="title">计算机科学</div>
            <div class="itemcontainer">
                <img src="http://placehold.it/60x80">
                <div><a href="#">软件工程</a></div>
                <div>积分：１</div>
            </div>
            <div class="itemcontainer">
                <img src="http://placehold.it/60x80">
                <div><a href="#">软件工程</a></div>
                <div>积分：１</div>
            </div>
            <div class="itemcontainer">
                <img src="http://placehold.it/60x80">
                <div><a href="#">软件工程</a></div>
                <div>积分：１</div>
            </div>
            <div class="itemcontainer">
                <img src="http://placehold.it/60x80">
                <div><a href="#">软件工程</a></div>
                <div>积分：１</div>
            </div>
            <div class="itemcontainer">
                <img src="http://placehold.it/60x80">
                <div><a href="#">软件工程</a></div>
                <div>积分：１</div>
            </div>
            <div class="itemcontainer">
                <img src="http://placehold.it/60x80">
                <div><a href="#">软件工程</a></div>
                <div>积分：１</div>
            </div>
            <div class="itemcontainer">
                <img src="http://placehold.it/60x80">
                <div><a href="#">软件工程</a></div>
                <div>积分：１</div>
            </div>
        </div>
        <div class="subject">
            <div class="title">生命科学</div>
            <div class="itemcontainer">
                <img src="http://placehold.it/60x80">
                <div><a href="#">基因工程</a></div>
                <div>积分：１</div>
            </div>
            <div class="itemcontainer">
                <img src="http://placehold.it/60x80">
                <div><a href="#">基因工程</a></div>
                <div>积分：１</div>
            </div>
            <div class="itemcontainer">
                <img src="http://placehold.it/60x80">
                <div><a href="#">基因工程</a></div>
                <div>积分：１</div>
            </div>
            <div class="itemcontainer">
                <img src="http://placehold.it/60x80">
                <div><a href="#">基因工程</a></div>
                <div>积分：１</div>
            </div>
            <div class="itemcontainer">
                <img src="http://placehold.it/60x80">
                <div><a href="#">基因工程</a></div>
                <div>积分：１</div>
            </div>
            <div class="itemcontainer">
                <img src="http://placehold.it/60x80">
                <div><a href="#">基因工程</a></div>
                <div>积分：１</div>
            </div>
            <div class="itemcontainer">
                <img src="http://placehold.it/60x80">
                <div><a href="#">基因工程</a></div>
                <div>积分：１</div>
            </div>
        </div>
    </div>
</body>

<style>
body {
    width: 800px;
    margin: auto;
    margin-top: 20px;
}

.header {
    width: 100%;
}

.header > div {
    display: inline-block;
}

.welcome {
    float: right;
}

.search {
    margin: 20px 0;
}

.search > input {
    width: 60%;
}

.hot {
    font-size: 30px;
    margin-bottom: 20px;
}

.subject {
    overflow: auto;
}

.subject ~ .subject {
    margin-top: 50px;
}

.title {
    font-size: 20px;
    margin-bottom: 20px;
}

.itemcontainer {
    width: 20%;
    float: left;
}
</style>
</html>
